extends layout

//- search
//- breadcrumbs
//- search result headers
//- pagination
//- table of results
//- same pagination
block pagehead
  title Fontes Anglo-Saxonici - Search
  script(src="/javascripts/minified/searchpage-min.js")
  //-script(src="/javascripts/searchpage.js")
  script(src="/autocomplete.js")
  block printcss
      link(rel="stylesheet", type="text/css", media="print", href="/stylesheets/printbook.css")
              
block content
  div(id="search-background" class="row")
      div(id="search-container" class="col-8 col-s-8 offset-col-2 offset-col-s-2")
          form(autocomplete="off" action="/search/")
              div(class="row")
                  div(class="col-4 col-s-6")
                      fieldset
                          legend Text Type
                          input(type="radio", id="target-text", name="texttype", value="target-text", checked=(searchquery.texttype == "target-text" ? true : false))
                          label(for="target-text") Target
                          input(type="radio", id="source-text", name="texttype", value="source-text", checked=(searchquery.texttype == "source-text" ? true : false))
                          label(for="source-text") Source
                  div(class="form-block col-6 col-s-6")
                      label(for="title") Title
                      input(type="text", id="title", name="title", value=searchquery.title)
                  div(class="form-block col-2 col-s-12")
                      input(id="submit-query-button" type="submit", value="Search")
              div(id="advanced-search" class="row")
                  div(class="form-block col-4 col-s-12")
                      label(for="author") Author
                      input(type="text", id="author", name="author", value=searchquery.author)
                  div(class="form-block col-4 col-s-12")
                      label(for="edition") Edition
                      input(type="text", id="edition", name="edition", value=searchquery.edition)
                  div(class="form-block col-4 col-s-12")
                      label(for="reference") Reference
                      input(type="text", id="reference", name="reference", value=searchquery.reference, disabled=(searchquery.texttype == "source-text" ? true : false))
           
      div(class="col-12 col-s-12")       
          input(type="button", id="search-container-collapser", value="collapse")
              
  div(id="search-results-heading-background" class="row")        
      div(id="search-results-heading-container" class="col-8 col-s-8 offset-col-2 offset-col-s-2")
          div(class="row")
              +breadcrumbs()
          div(id="upper-results-header" class="row")
              h2(class="col-2 col-s-2") Target Text:
              if selectedtexts.targettext.title
                  h2(class="selected-texts col-8 col-s-8") #{selectedtexts.targettext.title}
              a(id="print-records" href="print" target="_blank")
                  img(src="/images/icons/print-24px.svg" alt="Print records")
              a(id="download-records" href="./csv")
                  img(src="/images/icons/download_csv.svg" alt="Download records")
              
          hr
          div(class="row")
              h3(class="col-2 col-s-2") Source Text:
              if selectedtexts.sourcetext.title
                  h3(class="selected-texts col-8 col-s-8") #{selectedtexts.sourcetext.title}

  block resultstable
      div(class="row")
          div(id="search-results-container" class="col-8 col-s-8 offset-col-2 offset-col-s-2")

              if (recordcount.totalrecords > 0)
                  
                  +pagination(pages)
                  
                  div(class="records-information")
                      span #{recordcount.recordslowerlimit}-#{recordcount.recordsupperlimit} of #{recordcount.totalrecords} records
                      a(id="all-records" href="") See all records
                  
                  if tabledata[0].count
                      table(id="table-4-col" class="texts-results-table")
                          thead
                              tr
                                  th Title
                                  th Author
                                  th Edition
                                  th(class="table-records-number") Records
                          tbody
                              each record in tabledata
                                  tr
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype), alt="") #{record.title}
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype), alt="") #{record.author}
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype), alt="") #{record.edition}
                                      td
                                          a(class="table-records-number" href=(record.url + "?texttype=" + searchquery.texttype)) #{record.count}
                  else
                      table(id="table-3-col" class="texts-results-table")
                          thead
                              tr
                                  th Title
                                  th Author
                                  th Edition
                          tbody
                              each record in tabledata
                                  tr
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype)) #{record.title}
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype)) #{record.author}
                                      td
                                          a(href=(record.url + "?texttype=" + searchquery.texttype)) #{record.edition}
                                          
                  +pagination(pages)
                                          
              else 
                  h2 No Records found
                  p It seems that there are no records that match your search. The autocomplete feature can help determine if a text exists
              
